@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-primary: #121212;
  --background-negative: #351216;

  --color-primary: #00db80;
  --color-secondary: #303030;

  --text-primary: #ffffff;
  --text-negative: #BF051C;
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
}

button, input, textarea {
  color: inherit;
  font: inherit;
}

nav, ul {
  list-style: none;
}
