:root {
  --background-primary: #121212;
  --background-negative: #351216;

  --color-primary: #00db80;
  --color-secondary: #303030;

  --text-primary: #ffffff;
  --text-negative: #BF051C;
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  color: var(--text-primary)
}
